fastapi
uvicorn
streamlit
requests
python-dotenv

langchain
langgraph
langchain-core
langchain-community
langchain-groq
langchain-tavily

tavily-python

groq

mem0ai

mlflow

prometheus-fastapi-instrumentator

pydantic

typing-extensions

pandas

httpx

python-multipart